{% extends "base.html" %}
{% load static %}

{% block head_title %}
Blogs
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block content %}
        <div class="container">
        
            <div class="row">
               <div class="col-9">
                    <div class="container mt-3">
                        <h2 class=" m-0 p-0">
                            Pinturas para exteriores
                        </h2>
                    </div>
                    <div class="container mt-1 mb-3">
                        <hr class=" m-0 p-0">
                    </div>
                    <div class="container">
                        <figure class="text-center">
                          <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit euismod metus lacinia proin velit, mattis tristique vehicula sem condimentum dignissim sociis dapibus sed ornare urna. Nostra felis tempus accumsan pellentesque nisl ligula imperdiet nunc massa.</p>
                          </blockquote>
                        </figure>
                        <div class="text-center">
                            <img src="../static/images/blogs/exterior.jpg"  class=" my-5" alt="">
                        </div>
                        <p>
                            A la hora de elegir una puerta para el interior del hogar, solemos optar por las puertas de abrir. Estas son las más utilizadas, pero también ocupan mucho lugar. En cambio, las puertas corredizas permiten ahorrar espacio.
                            <br>
                            <br>
                            Si querés sumar una puerta corrediza en la casa, departamento u oficina, debés mirar todos los detalles y tener muy presente para qué ambiente es.
                            <br>
                            <br>
                            <h4 class="mt-2 mb-1">Ventajas de las Puertas Corredizas de Interior</h4>
                            A veces, una refacción o modificación puede preocuparnos porque no sabemos cómo va a quedar.  En ese caso, hay que evaluar qué beneficios nos da sumar una puerta corrediza, entre estos tenemos:
                            <br>
                            <br>
                            <ul>
                                <li>Sirve para separar ambientes.</li>
                                <li>Mayor privacidad a la habitación.</li>
                                <li>Impide que los ruidos invadan el lugar.</li>
                                <li>Permite mantener la temperatura del lugar.</li>
                                <li>Se gana más espacio en la habitación.</li>
                                <li>Brinda más posibilidades en la decoración.</li>
                                <li>Una puerta corrediza de vidrio mejora la luz natural</li>
                            </ul>
                            <h4 class="mt-2 mb-1"> Algunas Cuestiones a Tener en Cuenta</h4>
                            La instalación de una puerta corrediza requiere de un profesional especializado. Además, hay que tener presente que la vía de desplazamiento de una puerta corrediza puede acumular suciedad.
                            <br>
                            <br>
                            <h4 class="mt-2 mb-1">Variedad de Puertas Corredizas ¡Con Estilo!</h4>
                            Las puertas corredizas son funcionales para cualquier lugar, ya que se abren mediante un deslizamiento paralelo a la pared, de forma horizontal.
                            <br>
                            <br>
                            También presentan una amplia variedad; pueden estar fabricadas en madera, aluminio, acero inoxidable, vidrio, plástico o PVC. Ahora bien, dependiendo de su sistema, podemos hablar de puertas corredizas de embutir o puertas corredizas de exterior.
                            <br>
                            <br>
                            Puerta corrediza de embutir: este tipo de puerta ahorra muchísimo espacio y desaparece en las paredes cuando está abierta. La desventaja con respecto a la puerta corrediza de exterior es que, en caso de querer sacarla, hay que romper la pared.
                        </p>
                    </div>
                    <hr>
                    <div class="container col-8 row justify-content-start">
                        <h3>Preguntas</h3>
                        <form class="row pb-3" action="">
                            <div class="col-auto comentario_usuario_boton">
                                <div class="comentario_usuario" action="">
                                    <textarea class="text-break" name="comentario" id="" placeholder="Escribe un comentario..." cols="40" rows="1"></textarea>
                                </div>
                            </div>
                            <button class="comentar col-auto btn btn-primary  mx-auto px-auto ">
                                Comentar
                            </button>
                        </form>
                        <div class="pb-5">
                            <h4>Comentarios</h4>
                                <p>Por casualidad tendrás algun producto q me sirva de anclaje?</p>
                                <div class="row justify-content-start">
                                <div class="col-1"><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                                <div class="col-8">
                                    <p class="respuesta pt-1">Hola buenas tardes no vas a tener tanto anclaje. 29/01/2021</p>
                                </div>
                                </div>
                                <p>Hola buenas tardes, se puede aplicar sobre chapa de cinc?</p>
                                <div class="row justify-content-start">
                                <div class="col-1"><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                                <div class="col-10">
                                    <p class="respuesta pt-1">Hola buenas tardes no vas a tener tanto anclaje. 29/01/2021</p>
                                </div>
                                </div>
                                    <p>Hola, me podes decir los metros cuadrados que cubre la lata de 30 kilos? Gracias</p>
                                <div class="row justify-content-start">
                                <div class="col-1"><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                                <div class="col-10">
                                    <p class="respuesta pt-1">1 A 1.2 KG X M2 dependiendo de la superficie de aplicación 06/11/2020</p>
                                </div>
                                </div>
                                    <p>Hola tenes el Sherwin country Loft texturas de código azo28oac</p>
                                <div class="row justify-content-start">
                                <div class="col-1 "><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                                <div class="col-10">
                                    <p class="respuesta pt-1">Hola no vendemos esa marca Saludos! 12/05/2020</p></div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    
                </div>
           </div>
           
            
        </div>
       

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
{% endblock content %}