{% extends "base.html" %}
{% load static %}

{% block head_title %}
Nosotros
{% endblock %}
{% block extra_head %}

<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

{% endblock %}

{% block content %}

        <div class="container" row>
            <div class="historia row">
                <div class="col">
                    <h1>Historia de la empresa</h1>
                    <p>
                    Inicio su actividad el 21 de junio de 2017 en medio de mucha incertidumbre comercial y mercados golpeados, con dirección a una producción de ahorro y por ser iniciada en contexto familiar, su desarrollo fue de un crecimiento lento pero seguro por los años 2021, después de recolectar varias experiencias, junto con un mercado en quiebra y pos pandémico. Decidio afrontar su familia, agregando servicio, refrigeración y logística de productos. <br>Poniendo el corazón, en la creencia del crecimiento alarmante cuando es sostenido en valores, que pese a cualquier adversidad indistinta en el que se encuentre el mercado. Desde estos principios se lograría el éxito colectivo e inminente.
                    </p>
                </div>
                <div class="col">
                  <img src="../static/images/nosotros/estetico.jpg">
                </div>
            </div>
        <hr>
        </div>
        <div class="container" row>
            <div class="valores row">
                <div class="col">
                    <h1>Nuestros valores</h1>
                    <p>
                       Todo aquello que promueva el bien común para ellos buscamos ser:
                    </p>
                    <p>
                       -Una organización destinada al crecimiento personal de cada uno de sus integrantes.
                    </p>
                    <p>
                       -Una organización flexible ante los avances culturales, tecnológicos, sociales y naturales, aquellos que persigan los mismos valores.
                    </p>
                    <p>
                        -Una organización que promueve:
                    </p>
                    <ul>
                        <li>el trabajo en grupo.</li>
                        <li>Liderazgo colectivo.</li>
                        <li>Diversidad en la vivencia de estos mismos valores.</li>
                        <li>Seguridad, sostenida en el desarrollo de los vínculos humanos.</li>
                        <li>Creatividad e Innovación.</li>
                        <li>Responsabilidad, gratitud y generosidad.</li>
                        <li>Pero ante todo, el amor a la vida.</li>
                    </ul>
                </div>
                <div class="col">
                  <img src="../static/images/nosotros/apoyo.jpg" alt="">
                </div>
            </div>
        <hr>
        </div>
         <div class="container" row>
            <div class="historia row">
                <div class="col">
                    <h1>Misión</h1>
                    <p>
                        Constituir una organización comercial, capaz de generar abundancia en cada una de las personas con las que se vincule y que la misma pueda ser sostenida en el tiempo, y asegurar para aquel que la genere.
                    </p>
                    <p>
                        Que estas prácticas basadas en principios y valores, se contagien en todas las organizaciones posibles.
                    </p>
                    <p>
                        "Ser un faro de aprendizaje para generaciones futuras."
                    </p>
                </div>
                <div class="col">
                  <img src="../static/images/nosotros/madera.jpg" alt="">
                </div>
            </div>
        <hr>
        </div>
        <div class="container" row>
            <div class="historia row">
                <div class="col">
                    <h1>Visión</h1>
                    <p>
                        Ser considerada entre las organizaciones del nordeste, como una misionera del bien común.
                    </p>
                </div>
                <div class="col">
                  <img src="../static/images/nosotros/trabajo.jpg" alt="">
                </div>
            </div>
        <hr>
        </div>
        <div class="container" row>
            <div class="proposito row">
                <div class="col">
                    <h1>Su Propósito</h1>
                    <p>
                        *Ser aquello por quienes hemos estado esperando, dar lo mejor que vinimos a dar.
                    </p>
                    <p>
                        *Ser un camino dirigido al bien común.
                    </p>
                    <p>
                        *Contagiar los valores propuestos para el desarrollo de toda la organización.
                    </p>
                    <p>
                        *Ser la fuente saludable, para las personas y el medio ambiente.
                    </p>
                </div>
                <div class="col">
                  <img src="../static/images/nosotros/grupo.jpg" alt="">
                </div>
            </div>
        <hr>
        </div>
        <div class="container" row>
            <div class="servicios row">
                <div class="col">
                    <h1>Servicios que ofrecemos</h1>
                    <ul>
                        <li>
                            Insumos y mantenimientos de equipos de refrigeración, para empresas y organizaciones.
                        </li>
                        <li>
                            Pinturería y logística.
                        </li>
                    </ul>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
   
   
   
   
   
   
        {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock scripts %}
        
    

    {% endblock content %}