{% extends "base.html" %}
{% load static %}

    {% block head_title %}
    Inicio
    {% endblock %}
    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'css/producto.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% endblock %}

    {% block content %}
    
    
    <div class="container">
        <div class="container">
            <div class="row ">
                <div class="container mx-1 col-6">
                    <img class="producto-img" src="{{ producto.image.url }}" class="img-fluid" alt="">
                </div>
                <div class="container col-4 ms-1 my-4 p-4 derecha border">
                    <div class="titulop mb-4">
                        <h3>Revoque Plastico Texturado San Agustin Rugo X 30 Kg</h3>
                    </div>
                    <div class="mb-4">
                        <span class="precio">$ 9860</span><span class="unidad">/unidad</span>
                    </div>
                    <div class="colores mb-4">
                        <span class="color">Color: </span><span class="elcolor">Blanco</span>
                    </div>
                    <div class="mb-4">
                        <span>Cantidad: </span>
                              <div class="btn-group btn-group-sm" role="group" aria-label="">
                                <button type="button" class="mx-1 btn btn-success">-</button>
                                <span class="unidad_seleccionada mx-2"> 9 </span>
                                <button type="button" class="mx-1 btn btn-success">+</button>
                              </div>
                        <span class="unidad_disponible">(11 disponible)</span>
                    </div>
                    <div class="oferta my-1 text-center">
                        <span class="strong">30% de descuento al contado</span>
                    </div>
                    <div class="d-grid gap-2 col mx-auto mt-5">
                        <button type="button" class="btn btn-success">COMPRAR</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container col-6 especificaciones row justify-content-start">
            <h3>Especificaciones</h3>
            <table class="table ">
              <tbody>
                <tr>
                  <th scope="row">Marca</th>
                  <td>San Agustín</td>
                </tr>
                <tr>
                  <th scope="row">Modelo</th>
                  <td>Rugo</td>
                </tr>
                <tr>
                  <th scope="row">Peso neto</th>
                  <td>30kg</td>
                </tr>
                <tr>
                  <th scope="row">Unidad de venta</th>
                  <td>Unidad</td>
                </tr>
              </tbody>
            </table>
        </div>
        <hr>
        <div class="container col-8 descripcion row justify-content-start" style="font-size: 18px; font-family:Arial, Helvetica, sans-serif;">
            <h3 style="font-size: 32px;"><strong>Descripción</strong></h3>
            <p>Es un producto formulado a base de copolímeros acrílicos elastoméricos, con un balance adecuado de cargas inertes,
            logrando así un revestimiento plástico, que reúne las siguientes propiedades: es flexible, lavable, impermeable,
            antihongo, de excelente rendimiento y durabilidad. Capaz de proteger y decorar superficies interiores y exteriores.
            Al aplicar Rugo se evita el uso de fijador, sellador, enduido y hasta revoque fino. Se obtiene una película 20 veces
            más cubritiva y resistente que un látex debido al espesor de la capa, también tapa fisuras viejas y previene la aparición
            de nuevas, ofreciendo además innumerables alternativas estéticas. A diferencia de los revoques cementicios, posee
            la propiedad de acompañar los movimientos naturales de las estructuras edilicias. <br>
            PRESENTACION<br>
            Envases de 6 / 30 kilos<br>
            VARIEDADES<br>
            Rugo Fino (Blanco)<br>
            Rugo Mediano Fácil (Blanco / Jacarandá / Paris / Lactuca / Cycas / Taxus / Sorbus / Prunus / Yucca)<br>
            Rugo Mediano Llana (Blanco)<br>
            Rugo Grueso (Blanco)<br>
            USOS<br>
            • Aplicable sobre cemento, yeso, revoque, ladrillo a la vista, bloques, etc.<br>
            • Para interior y exterior.<br>
            PREPARACION DE LA SUPERFICIE<br>
            • La superficie deberá estar limpia, seca, firme y libre de grasitud o polvo.<br>
            • Las imperfecciones de la pared no necesitan tratarse previamente, porque al aplicar RUGO se disimulan defectos.<br>
            APLICACION<br>
            • Aplicable con llana, rodillo, espátula o soplete.<br>
            • Podrá diluirse hasta un 30% con agua, según el utensilio elegido.<br>
            RENDIMIENTO<br>
            TABLA DE RENDIMIENTO SEGUN METODO DE APLICACION* (kg por m2)<br>
            * El rendimiento del producto puede variar según la rugosidad y absorción del sustrato.<br>
            Se catalogan a continuación los sustratos en función del consumo, de menor a mayor :<br>
            1 fibrocemento 6 ladrillo cerámico<br>
            2 revoque fino 7 grueso alisado<br>
            3 yeso 8 ladrillo común<br>
            4 durlock 9 ladrillo block<br>
            5 maderas en general 10 revoque grueso<br>
            RECOMENDACIONES GENERALES<br>
            • Revolver bien antes de usar.<br>
            • Evitar pintar en condiciones climáticas extremas.<br>
            • Almacenar en lugar fresco y seco.<br>
            • Mantener fuera del alcance de los niños.</p>
        </div>
        <hr>
        <div class="container col-8 row justify-content-start">
            <h3>Preguntas</h3>
            <form class="row pb-3" action="">
                <div class="col-auto comentario_usuario_boton">
                    <div class="comentario_usuario" action="">
                        <textarea class="text-break" name="comentario" id="" placeholder="Escribe un comentario..." cols="40" rows="1"></textarea>
                    </div>
                </div>
                <button class="comentar col-auto btn btn-primary  mx-auto px-auto ">
                    Comentar
                </button>
            </form>
            <div class="pb-5">
                <h4>Comentarios</h4>
                    <p>Por casualidad tendrás algun producto q me sirva de anclaje?</p>
                    <div class="row justify-content-start">
                    <div class="col-1"><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                    <div class="col-8">
                        <p class="respuesta pt-1">Hola buenas tardes no vas a tener tanto anclaje. 29/01/2021</p>
                    </div>
                    </div>
                    <p>Hola buenas tardes, se puede aplicar sobre chapa de cinc?</p>
                    <div class="row justify-content-start">
                    <div class="col-1"><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                    <div class="col-10">
                        <p class="respuesta pt-1">Hola buenas tardes no vas a tener tanto anclaje. 29/01/2021</p>
                    </div>
                    </div>
                        <p>Hola, me podes decir los metros cuadrados que cubre la lata de 30 kilos? Gracias</p>
                    <div class="row justify-content-start">
                    <div class="col-1"><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                    <div class="col-10">
                        <p class="respuesta pt-1">1 A 1.2 KG X M2 dependiendo de la superficie de aplicación 06/11/2020</p>
                    </div>
                    </div>
                        <p>Hola tenes el Sherwin country Loft texturas de código azo28oac</p>
                    <div class="row justify-content-start">
                    <div class="col-1 "><svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="#000" fill-opacity=".25" fill-rule="evenodd" d="M0 0h1v11h11v1H0z"></path></svg></div>
                    <div class="col-10">
                        <p class="respuesta pt-1">Hola no vendemos esa marca Saludos! 12/05/2020</p></div>
                    </div>
            </div>
        </div>
        
        
        
        
    </div>
    
    
    

    
    
    
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  {% endblock %}
</html>